@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: #111;
    font-family: "Press Start 2P", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 4px;
    color: #fff;
}

#gameContainer {
    background-color: #222;
    border: 4px solid #00ff00; /* Neon green border */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7); /* Neon glow effect */
    text-align: center;
    width: 340px;
    max-width: 100%;
    font-size: 13px;
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 30px;
    color: #00ff00;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; /* Neon glow effect */
}

h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 9px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 3px solid #00ff00;
    background-color: #333;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green neon glow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cell:hover {
    background-color: #444;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
}

.cell.X {
    color: #ff0077; /* Neon Pink for X */
    text-shadow: 0 0 8px #ff0077, 0 0 16px #ff0077; /* Neon glow effect for X */
}

.cell.O {
    color: #0077ff; /* Neon Blue for O */
    text-shadow: 0 0 8px #0077ff, 0 0 16px #0077ff; /* Neon glow effect for O */
}

button {
    background-color: #00ff00;
    color: #222;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Neon glow */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #00cc00;
    transform: scale(1.05);
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

#statusText {
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}

